<!--form.vtl-->
<h1>Gimme the cash and I tellz you the coinz!</h1>
<h3>Must be no more than $8.20</h3>
<form action="/result" method="get">
  <div class="form-group">
    <label for="cash">Cash Amount: </label>
    <input id="cash" name="cash" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Give me the coinz!</button>
</form>
<!--form.vtl-->
